body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* STYLING FOR THE NAVBAR */
.navbar{
  padding: 20px;
  align-items: center;
  display: flex;
  border-bottom: 3px solid rgb(92, 0, 0);
}
.navbar h1{
  margin-left: px;
}

.navbar a:hover {
  color: rgb(92, 0, 0);
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
}
/* STYLING FOR THE NAVBAR */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Styling for the Sign in  */
.signin .form{
  float: left;
  margin-top: auto;
  align-items: left;
  text-align: left;
}
.signin .form2{
  padding-left: 400px;
  margin-top: 8px;
  align-items: left;
  text-align: left;
}
.signin .form2 h1{
  
  padding-right: 0%;
  padding-bottom: 25px;
  color: #ffffff;
}
.signin .form h1{
  
  padding-right: 0%;
  padding-bottom: 25px;
  color: #ffffff;
}

.signin {
  min-width: 800px;
  width: 20%;
  border-radius: 4px;
  margin-top: 10%;
  margin-left:auto;
  margin-right: auto;
  padding-left: 100px;

  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(92, 0, 0); 
}
/* Styling for the Sign in */